@model Domain.Models.Url

<h2>Adding new Url</h2>
<form asp-action="create" asp-controller="url">
    <!--
    <p>
        <label asp-for="ShortUrl">ShortUrl</label><br />
        <input type="url" asp-for="ShortUrl" />
    </p>
          -->


    <p>
        <label asp-for="LongUrl">LongUrl</label><br />
        <input type="url" asp-for="LongUrl" />
    </p>

    <p>
        <button class="btn waves-effect waves-light teal darken-2" type="submit">Add</button>
    </p>
</form>