@model Domain.Models.Url

<h2>Добавление пользователя</h2>
<form asp-action="create" asp-controller="url">
    <p>
        <label asp-for="ShortUrl">ShortUrl</label><br />
        <input type="text" asp-for="ShortUrl" />
    </p>
    <p>
        <label asp-for="LongUrl">LongUrl</label><br />
        <input type="text" asp-for="LongUrl" />
    </p>
    <p>
        <input type="submit" value="submit" />
    </p>
</form>